<header class="d-flex justify-content-center fixed-top bg-dark p-3">
    <div class="">
        <h3 class="float-md-start me-5"><a class="text-decoration-none" href="/index">Gestion de convention</a> </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end align-middle">
            <a class="nav-link" aria-current="page" href="/index">Acceuil</a>
            <a class="nav-link" aria-current="page" href="/convention/add">Ajouter une convention</a>
            <a class="nav-link" aria-current="page" href="/about">A propos</a>
            <a class="nav-link" href="/login">Se connecter</a>
            <a class="nav-link" href="/register">S'enregistrer</a>
        </nav>
    </div>
</header>